<!-- add-compte.component.html -->
<div class="container mt-4">
  <h2><i class="fas fa-wallet"></i> Add Compte</h2>
  <form (ngSubmit)="onSubmit()" #compteForm="ngForm">
    <div class="mb-3">
      <label for="clientCin" class="form-label">
        <i class="fas fa-id-card"></i> Client CIN:
      </label>
      <div class="input-group">
        <span class="input-icon">
          <i class="fas fa-id-card"></i>
        </span>
        <input type="text" id="clientCin" name="clientCin" [(ngModel)]="compte.client.cin" class="form-control" required>
      </div>
    </div>

    <div class="mb-3">
      <label for="solde" class="form-label">
        <i class="fas fa-coins"></i> Solde:
      </label>
      <div class="input-group">
        <span class="input-icon">
          <i class="fas fa-coins"></i>
        </span>
        <input type="number" id="solde" name="solde" [(ngModel)]="compte.solde" class="form-control" required>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="compteForm.invalid">
      <i class="fas fa-plus-circle"></i> Add Compte
    </button>
  </form>
</div>